hi {
  margin-bottom: 0;
  font-size: 24px;
}

.basic-container {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #ccc;
}

.flex-item {
  width: 50px;
  text-align: center;
  background-color: #fff;
  border: 3px solid black;
  margin: 10px;
  padding: 15px;
}

.flex-container {
  display: flex;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #ccc;
}
.flex-row {
  /* 기본값 좌 -> 우 */
  flex-direction: row;
}

.flex-row {
  /* 기본값 좌 -> 우 */
  flex-direction: row;
}

.flex-row-reverse {
  /* 우->좌 기준축 반대방향으로 정렬 */
  flex-direction: row-reverse;
  /* 교차축을 기준으로 정렬 */
  /* flex-direction: column;
  flex-direction: column-reverse; */

}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-start {
  justify-content: start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: end;
}

.flex-space-between {
  /* item 사이에 동일한 여백을 적용 */
  /* 양 끝에 여백이 없음 */
  justify-content: space-between;
}

.flex-space-around {
  /* item 사이에 동일한 여백을 적용 */
  /* 양 끝에는 item사이 여백의 1/2 */
  /* 마진처럼 보임 */
  justify-content: space-around;
}

.flex-space-evenly {
  /* 모든(item 사이, 양 끝) 공백이 동일 */
  justify-content: space-evenly;
}

.first {
  height: 100px;
}
.second {
  height: 50px;
}
.third {
  height: 20px;
}

/* flex-wrap: 줄바꿈 설정 */
.flex-tmp4 {
    /* 줄바꿈을 하지 않는 것. */
  flex-wrap: nowrap;
}
.flex-tmp5 {
  /* 줄바꿈 */
  flex-wrap: wrap;
}
.flex-tmp6 {
  /* 줄바꿈 + 역정렬 */
  flex-wrap: wrap-reverse;
}
/* flex-grow: container의 길이가 item 보다 클 경우 확대*/
/* 기본값: 0 -> item 본연의 크기를 유지 */
.grow {
  flex-grow: 1;
}

/* 1 이상의 숫자를 넣으면 유연하게 늘어난다 */
/* 아래 코드는 부모 요소의 크기를 1:2:3 비율로 나눈 길이만큼 */
/* 비율을 너무 극단적으로는 사용하지 말자 */
/* 자식 요소의 inline 크기보다 작도록 하지 말자 */

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 3;
}

/* 부모 요소의 크기 비율에 맞게 아이템을 축소 */
.shrink {
  flex-shrink: 0;
}

/* 기본값:1 ->크기가 동일하게 줄어든다 */
.shrink1 {
  flex-shrink: 1;
}

/* 각 비율에 맞게 item의 길이가 줄어든다 */
.shrink2 {
  flex-shrink: 2;
}

.shrink3 {
  flex-shrink: 3;
}

/* flex 아이템의 기본 크기 설정 */
/* 기준축을 기준으로 크기를 지정 */
.flex-basis {
  flex-basis: 100px;
}

/* flex에 배치될 아이템의 순서를 결정 */
/* 숫자가 작을 수록 앞쪽에 배치 */
/* 소수점도 가능 */
/* 동일한 숫자의 경우, DOM 기준으로 배치 */
/* DOM 기준:코드가 먼저 작성된 순서 */
.order1 {
  order: 1
}
.order2 {
  order: 2
}
.order {
  order: 1
}

.flex-container2 {
  display: flex;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #ccc;
  height: 300px;
  /* 가로도 가운데 세로도 가운데 */
  justify-content: center;
  align-items: center;
}

.flex-item2 {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: white;
  border: 3px solid black;
  margin: 10px;
  padding: 15px;
}

/* 남은 우측공간을 모두 마진으로 설정 */
.margin-right{
  margin-right: auto;
}