/* 전체에 대한 스타일링 */
body {
  margin: 0;
  padding: 0;
}

/* 헤더에 대한 스타일링 */
header {
  background-color: rgb(46, 142, 221);
  color: white;
  padding: 20px;
}

header h1 {
  margin: 5;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* 본문에 대한 스타일링 */
main {
  padding: 20px;
}

main h2 {
  margin-top: 0;
}

article h2{
  margin-bottom: 20px;
  border: 2px solid rgb(21, 189, 231);
  padding: 10px;
}

article h3{
  margin-bottom: 30px;
  float: left;
  border: 1px solid #3085f5;
  width: 100px;
  height: 100px;
  padding: 50px;
  text-align: center;
  margin-top: 30px;

}

.flex-space-around {
  /* item 사이에 동일한 여백을 적용 */
  /* 양 끝에는 item사이 여백의 1/2 */
  /* 마진처럼 보임 */
  justify-content: space-around;
}

article p {
  margin-bottom: 20px;
}

article a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

/* 푸터에 대한 스타일링 */
footer {
  margin-bottom: 100px;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  clear: left;
}
