<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>첫 번째 입력: {{ word1 }}</h1>
        <input type="text" v-model="word1">

        <h1>두 번째 입력: {{ word2 }}</h1>
        <input type="text" v-model="word2">

        <h1>합산 입력: {{ word }}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                word1: '',
                word2: '',
            },
            // 데이터를 특정 로직으로 계산 후 바인딩하고 싶을 떄
            computed: {
                word() {
                    return this.word1 + this.word2
                }
            }
        })
    </script>

</body>
</html>